<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
</head>
<body>
<div class="col-1">
    <div class="category-wrap" style="margin-top:20px;margin-right:20px;margin-left:20px;">
        <h3 align="center">Профиль пользователя</h3>
        <div sec:authorize="!isAuthenticated()" style="text-align: right;margin-right: 20px;">
            <div>
                <div><a>Вы не авторизованы.</a></div>
                <span><a class="btn btn-primary" th:href="@{/login}"><i aria-hidden="true" class="fas fa-sign-in-alt"></i>  Вход</a></span>&nbsp;&nbsp
                <span><a class="btn btn-primary" th:href="@{/registration}"><i aria-hidden="true" class="fas fa-user-plus"></i>  Регистрация</a></span>
            </div>
        </div>

        <div sec:authorize="isAuthenticated()" style="text-align: right;margin-right: 20px;">
            <div>
             <span>
                         <span style="color: black">Вы вошли как:
                            <b>
                                 <span sec:authentication="name"></span>
                             </b>
                         </span>&nbsp;&nbsp;
                              <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <div>
                                 <a class="btn btn-primary" th:href="@{/adm}">На страницу администратора</a>&nbsp;&nbsp;
                            </div>
                         </div>
                     </span>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Выход"/>
            </form>
            </div>
        </div>
        <div>
            <table class="table-no-bordered">
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td><a th:href="@{/}" >На главную</a></td>
                </tr>
                <tr style="margin-bottom:20px; align-items: center">
                    <td>Ваш никнейм: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><span style="font-weight:bold; font-size:15px" th:utext="${user.getUserName()}"></span>
                    </td>
                </tr>
                <tr>
                    <td><a th:href="@{/profile/password-edit}" >Сменить пароль</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>