<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <title th:text="${item.getName()}"></title>
    </head>
<body>
<div class="row">
    <div class="col-9">
        <div class="col-1">
            <div class="category-wrap" style="margin-top:20px;margin-right:20px;margin-left:20px;">
                <h3 align="center">Страница товара</h3>
            </div>
        </div>
        <div th:insert="~{AuthorizationFragment :: authFragment}"></div>

        <div>
            <img height="100px" th:src="@{'data:image/jpeg;base64,'+${item.getImageString()}}" width="100px"
                 align="left" vspace="5" hspace="5">&nbsp;&nbsp;
            <span >&nbsp;</span><br>
            <span >&nbsp;</span><br>
            <span style="font-weight:bold; font-size:30px" th:utext="${item.getName()}"></span><br>
            <span style="font-weight:bold; font-size:25px"
                  th:utext="${item.getPrice()+' ₽'}"></span><br><br>
        </div>
        <div>
            <i><span th:utext="${'Артикул: '+item.getArticul()}"></span></i><br>
            <span >&nbsp;</span><br>
            <span th:utext="${item.getDescription()}"></span><br><br>
            <span style="font-weight:bold; font-size:17px">Количество на складе:</span> <span
                style="font-size:20px" th:utext="${item.getCount()}"></span><br><br>
        </div >
        <div sec:authorize="isAuthenticated()">
        <form method="POST"
              th:action="@{/main/addToBasket/items/{id}(id=${item.getId()})}">
            <button class="btn btn-success btn-lg" th:if="${item.getCount()}>0"
                    type="submit"><i aria-hidden="true"
                                     class="fas fa-shopping-basket"></i> В корзину
            </button>
        </form>
        </div>
        <a  th:href="@{/main/categories/{CtgId}(CtgId=${item.getCategory().getId()})}">Назад</a>
        <a  th:href="@{/main}">На главную страницу</a>
    </div>
</div>
</body>
</html>