<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара</title>
</head>
<body>
<form class="form-horizontal" enctype="multipart/form-data"
      method="POST" th:action="@{/adm/items/add}" th:object="${item}">
    <div style="width: 40rem;">
        <table class="table-no-bordered">
            <tr style="margin-bottom:20px;">
                <td>Название <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><input class="form-control" required th:field="*{name}" type="text"/></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>Артикул <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><input class="form-control" required size="50" th:field="*{articul}" type="text"/>
                </td>
            </tr>
            <tr>
                <td>Количество <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><input class="form-control" required size="50" th:field="*{count}" type="text"/>
                </td>
            </tr>
            <tr>
                <td>Цена <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><input class="form-control" required size="50" th:field="*{price}" type="text"/>
                </td>
            </tr>
            <tr>
                <td>Описание <font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><input class="form-control" required size="50" th:field="*{description}" type="text"/>
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>Категория<font color="red">(*)</font>: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
            <select class="form-control"   data-size="10" name="categoryId" required>
                <option disabled>Выберите категорию</option>
                <option th:each="ctg : ${categories}" th:text="${ctg.getName()}" th:value="${ctg.getId()}">
                </option>
            </select>
                </td>
            </tr>
            <tr>
                <td>Изображение: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <div class="custom-file">
                        <input class="custom-file-input" id="validatedCustomFile" name="img"
                               type="file">
                        <label class="custom-file-label" for="validatedCustomFile">Выберите файл...</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </table>
        <br>
        <div align="center" style="margin-bottom:20px"><a class="btn btn-primary"
                                                          th:href="@{/adm/main}">Назад</a>&nbsp;&nbsp;&nbsp;&nbsp;<input
                class="btn btn-success" type="submit" value="Создать товар"/></div>
    </div>
</form>
</body>
</html>