<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Компьютерные комплетующие</title>
    <link rel="stylesheet" href="./grid.css">
</head>
<body>
<div class="row">
    <div class="col-1">
        <div class="category-wrap" style="margin-top:20px;margin-right:20px;margin-left:20px;">
            <h3 align="center">Категории товаров</h3>
<!--
            <div sec:authorize="!isAuthenticated()" style="text-align: right;margin-right: 20px;">
                <span><a class="btn btn-primary" th:href="@{/login}"><i aria-hidden="true" class="fas fa-sign-in-alt"></i>  Вход</a></span>&nbsp;&nbsp;<span><a
                    class="btn btn-primary" th:href="@{/registration}"><i aria-hidden="true" class="fas fa-user-plus"></i>  Регистрация</a></span>
            </div>

            <div sec:authorize="isAuthenticated()" style="text-align: right;margin-right: 20px;">
             <span><span style="color: black">Вы вошли как: <b><span
            sec:authentication="userName"></span></b></span>&nbsp;&nbsp;<span sec:authorize="hasRole('ROLE_ADMIN')">
                 <a
            th:href="@{/logout}"><i aria-hidden="true" class="fas fa-sign-out-alt"></i>  Выход</a></span></span>
            </div>
-->


            <div class="app" style=" display: grid;
                 grid-column-gap: 15px;
                 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));" >
                <div th:each="category: ${categories}">
                    <img height="100px" th:src="@{'data:image/jpeg;base64,'+${category.getImageString()}}" width="100px">&nbsp;&nbsp;
                    <div>
                        <a th:href="@{/main/categories/{id}(id=${category.getId()})}" th:utext="${category.getName()}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>